
/**
 * 基础盒子
 * @param $width [盒子宽度]
 * @param $height [盒子高度]
 * @param $background-color [盒子背景颜色]
 */
@mixin base-box($width, $height: $width, $background-color: null) {
    width: $width;
    height: $height;
    background-color: $background-color;
}

/*
 * 位置盒子   
 * @param $position [盒子位置]
 * @param $top [顶部偏移量]
 * @param $right [右边界偏移量]
 * @param $bottom [底部偏移量]
 * @param $left [左边界偏移量]
 */
@mixin locat-box($position, $top: null,  $right: null,  $bottom: null,  $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*
 * 设置字体  
 * @param $size [字体大小]
 * @param $line-height [字体行高] 
 * @param $color [字体颜色] 
 * @param $weight [字体粗细] 
 * @param $text-align [对齐方式] 
 */
@mixin set-font($size, $line-height, $color, $text-align: null, $weight: 400) {
    font-size: $size;
    line-height: $line-height;
    color: $color;
    text-align: $text-align;
    font-weight: $weight;
}

/*
 * 设置Z轴  
 * @param $z-index [Z轴上堆叠顺序]
 * @param $position [盒子位置]  
 */
@mixin set-Z($z-index, $position: null) {
    z-index: $z-index;
    position: $position;
}

/* 过渡动画 */
.slide-fade-enter-active {
    transition: all .5s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
} 